<div style="margin-top:60px;margin-bottom:60px;">


<div class="demo-card-wide mdl-card mdl-shadow--2dp centered" >
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"> Basic Details </h2>
  </div>
  <hr style="width:90%;margin:auto;">
  <div class="mdl-card__main-text">

    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col">Address</div>
      <div class="mdl-cell mdl-cell--6-col">Palamidiou 6 </div>
      <div class="mdl-cell mdl-cell--6-col">City</div>
      <div class="mdl-cell mdl-cell--6-col">Athens </div>
      <div class="mdl-cell mdl-cell--6-col">Postal Code</div>
      <div class="mdl-cell mdl-cell--6-col">10444 </div>
      <div class="mdl-cell mdl-cell--6-col">Cell</div>
      <div class="mdl-cell mdl-cell--6-col">6945412766 </div>
      <div class="mdl-cell mdl-cell--6-col">Email</div>
      <div class="mdl-cell mdl-cell--6-col">stefvardalos@gmail.com </div>

    </div>

  </div>
  <hr style="width:80%;margin:auto;">
  <div class="mdl-card__supporting-text ">
  </div>
</div>


<div class="demo-card-wide mdl-card mdl-shadow--2dp centered" >
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"> Web Pages </h2>
  </div>
  <hr style="width:90%;margin:auto;">
  <div class="mdl-card__main-text">

    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col">LinkedIn</div>
      <div class="mdl-cell mdl-cell--6-col">in/stefanos-vardalos-0b4a1745 </div>
      <div class="mdl-cell mdl-cell--6-col">Skype</div>
      <div class="mdl-cell mdl-cell--6-col">@stefvardalos </div>
      <div class="mdl-cell mdl-cell--6-col">GitHub</div>
      <div class="mdl-cell mdl-cell--6-col">github.com/steve62742 </div>
      <div class="mdl-cell mdl-cell--6-col">Google Play Store</div>
      <div class="mdl-cell mdl-cell--6-col">play.google.com/store/apps/developer?id=Stefanos+Vardalos </div>
    </div>

  </div>
  <hr style="width:80%;margin:auto;">
  <div class="mdl-card__supporting-text ">
  </div>
</div>







</div>
