<div style="margin-top:60px;margin-bottom:60px;">


<div class="demo-card-wide mdl-card mdl-shadow--2dp centered" >
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"> MSc of Advanced Computing and Informatics Systems </h2>
  </div>
  <hr style="width:90%;margin:auto;">
  <div class="mdl-card__main-text">
    I got my Master's Degree at University of Piraeus studying Advanced Computing and Informatics Systems.
    I choose the Advanced Technologies for Software Development direction.
    Some of the lessons I have been taught can be seen below.
    <ul class='mdl-list'>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">Software development for the Web</span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">Software Development for Mobile Devices</span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">Cloud computing</span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">Information systems</span>
      </li>
    </ul>
  </div>
  <hr style="width:80%;margin:auto;">
  <div class="mdl-card__supporting-text ">
    2014 - 2016
  </div>
</div>





<div class="demo-card-wide mdl-card mdl-shadow--2dp centered" >
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"> Master's Thesis - Full Stack JavaScript Development using MEAN Stack</h2>
  </div>
  <hr style="width:90%;margin:auto;">
  <div class="mdl-card__main-text">

    <p>The purpose of this thesis is the research and study of all the new tools, technologies and methodologies of
JavaScript programming language. The final outcome of this thesis will be the development of a Project
Management application using the most important parts of the MEAN stack so that by the end of it, we will
be able to understand the advantages and disadvantages of this particular stack.
The final application will have all the features a user can get from other similar commercial applications. He
will be able to register or login with his email or using one of his social accounts, he will be able to chat with
the other users of the application and most importantly, he will be able to manage his projects / issues.
All of the above will be implemented using only the JavaScript language and its various frameworks. Besides
those that will be used, all the most important frameworks per category will be mentioned and finally
compared, so that their differences will become more noticeable. Studying all of the above will make clearer
the Full Stack Developer title, meaning the one that can participate with the same ability on the whole stack
of the application (Back-End, Front-End, Database).<p>
<span>Some of the technologies used in this thesis can be seen below</span>
    <ul class='mdl-list'>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">NodeJS</span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">AngularJS</span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">NodeJS</span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">MongoDB</span>
      </li>
    </ul>
  </div>
  <hr style="width:80%;margin:auto;">
  <div class="mdl-card__supporting-text ">
    2014 - 2016
  </div>
</div>



<div class="demo-card-wide mdl-card mdl-shadow--2dp centered" >
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"> Bachelor's Degree of Automation </h2>
  </div>
  <hr style="width:90%;margin:auto;">
  <div class="mdl-card__main-text">
    I got my Bachelors's Degree at Piraeus University of Applied Sciences, studying Automation Engineering.
    Some of the lessons I have been taught can be seen below.
    <ul class='mdl-list'>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">Computer Programming</span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">Electrical Engineering</span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">Telematics Applications</span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">Management Information Systems</span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">Technical Project Development</span>
      </li>
    </ul>
  </div>
  <hr style="width:80%;margin:auto;">
  <div class="mdl-card__supporting-text ">
    2008 - 2013
  </div>
</div>








<div class="demo-card-wide mdl-card mdl-shadow--2dp centered" >
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"> Bachelor's Thesis  - SMStoAuto</h2>
  </div>
  <hr style="width:90%;margin:auto;">
  <div class="mdl-card__main-text">

    <p>The aim of this project was to provide a direct way of communication between teachers and students, using technologies that fit each group needs. To achieve that, i used an Arduino microcontroller with a GSM Modem that recieves short messages from teacher's phones and then, upload's them to its own website and post's them on Facebook and Twitter. Some of the technologies used in the project were: Arduino, AT Commands , PHP , MySQL, Twitter Bootstrap and Cloud Computing.<p>
<span>Some of the technologies used in this thesis can be seen below</span>
    <ul class='mdl-list'>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">PHP</span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">Arduino</span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">MySQL</span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">Twitter Bootstrap</span>
      </li>
    </ul>
  </div>
  <hr style="width:80%;margin:auto;">
  <div class="mdl-card__supporting-text ">
    2008 - 2013
  </div>
</div>
















</div>
