<div style="margin-top:60px;margin-bottom:60px;">


<div class="demo-card-wide mdl-card mdl-shadow--2dp centered" >
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"> Agilis SA Statistics and Informatics - IT Department - Software Engineer </h2>
  </div>
  <hr style="width:90%;margin:auto;">
  <div class="mdl-card__main-text">
    I worked at Agilis SA as a Software Developer. My main duties can be seen below.
    <ul class='mdl-list'>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">Developing and maintaining web applications using primarily J2EE and various JavaScript
libraries</span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">Database Design and Management, mostly on PostgreSQL</span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">Providing support and bug fixing for existing applications</span>
      </li>
    </ul>
  </div>
  <hr style="width:80%;margin:auto;">
  <div class="mdl-card__supporting-text ">
    2014 - 2015
  </div>
</div>





<div class="demo-card-wide mdl-card mdl-shadow--2dp centered" >
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"> EETT - National Telecommunications and Post Commission - Department of Spectrum</h2>
  </div>
  <hr style="width:90%;margin:auto;">
  <div class="mdl-card__main-text">

    <p>I worked at EETT for a brief project. My main duty was to check for completeness and validity of the applies for new signal antennas from the telecommunication companies like OTE and Vodafone<p>
  </div>
  <hr style="width:80%;margin:auto;">
  <div class="mdl-card__supporting-text ">
    2014 - 2014
  </div>
</div>


<div class="demo-card-wide mdl-card mdl-shadow--2dp centered" >
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"> OTE - Hellenic Telecommunications Organization</h2>
  </div>
  <hr style="width:90%;margin:auto;">
  <div class="mdl-card__main-text">
    <p>
    I worked at OTE at its ADSL HelpDesk department. My main duty was to solve problems that customers faced with their internet setup or equipment.
    <p>
  </div>
  <hr style="width:80%;margin:auto;">
  <div class="mdl-card__supporting-text ">
    2013 - 2014
  </div>
</div>


</div>
