<div style="margin-top:60px;margin-bottom:60px;">

    <div class="demo-card-wide mdl-card mdl-shadow--2dp centered">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">  Welcome to my CV</h2>
      </div>
      <hr style="width:80%;margin:auto;">
      <div class="mdl-card__main-text">
        I am a talented and passionate software engineer, with an everlasting hunger to try and learn
            new things. I am capable of integrating out-of-the-box and problem solving thinking into the
            full cycle of the software development process. Characterized by a team work spirit and
            ability of effective communication, I always try to achieve the best results in time. I believe
            that I can bring new ideas of approach and implementation to the table, and the combination
            of my interpersonal and technical skills can be proved valuable to your organization.
      </div>
      <hr style="width:80%;margin:auto;">
      <div class="mdl-card__supporting-text">
        Click on the links on the right to find more information about me
      </div>
    </div>

</div>
