<div style="margin-top:60px;margin-bottom:60px;">



<div class="demo-card-wide mdl-card mdl-shadow--2dp centered" >
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"> Stack Skills</h2>
  </div>
  <hr style="width:90%;margin:auto;">
  <div class="mdl-card__main-text">
    <canvas id="pie" class="chart chart-pie"
      chart-data="stackData" chart-labels="stackLabels">
    </canvas>
  </div>
  <hr style="width:80%;margin:auto;">
  <div class="mdl-card__supporting-text ">
  </div>
</div>


<div class="demo-card-wide mdl-card mdl-shadow--2dp centered" >
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"> Programming Languages Skills</h2>
  </div>
  <hr style="width:90%;margin:auto;">
  <div class="mdl-card__main-text">

    <canvas id="bar2" class="chart chart-bar"
      chart-data="programmingData" chart-labels="programmingLabels" chart-options="{scales:{yAxes : [ {  ticks : { min:0}}]}}"> chart-series="series"
    </canvas>

  </div>
  <hr style="width:80%;margin:auto;">
  <div class="mdl-card__supporting-text ">
  </div>
</div>


<div class="demo-card-wide mdl-card mdl-shadow--2dp centered" >
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"> Framework Skills</h2>
  </div>
  <hr style="width:90%;margin:auto;">
  <div class="mdl-card__main-text">
    <canvas id="base" class="chart-horizontal-bar"
      chart-data="frameworkData" chart-labels="frameworkLabels"  chart-options="{scales:{xAxes : [ {  ticks : { min:0}}]}}">
    </canvas>
  </div>
  <hr style="width:80%;margin:auto;">
  <div class="mdl-card__supporting-text ">
  </div>
</div>


<div class="demo-card-wide mdl-card mdl-shadow--2dp centered" >
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"> Other Skills</h2>
  </div>
  <hr style="width:90%;margin:auto;">
  <div class="mdl-card__main-text">

    <span ng-repeat="skill in otherSkills" >
      <span  class="mdl-chip">
        <span class="mdl-chip__text">{{skill}}</span>
         </span>
    </span>



  </div>
  <hr style="width:80%;margin:auto;">
  <div class="mdl-card__supporting-text ">
  </div>
</div>




</div>
